Connected Services/CodeNamesService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdPlayer" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:complexType name="ArrayOfFriendshipRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FriendshipRequest" nillable="true" type="tns:FriendshipRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendshipRequest" nillable="true" type="tns:ArrayOfFriendshipRequest" />
  <xs:complexType name="FriendshipRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdFriendshipRequest" type="xs:int" />
      <xs:element minOccurs="0" name="IdReceiverPlayer" type="xs:int" />
      <xs:element minOccurs="0" name="IdSenderPlayer" type="xs:int" />
      <xs:element minOccurs="0" name="ReceiverPlayer" nillable="true" type="tns:Player" />
      <xs:element minOccurs="0" name="SenderPlayer" nillable="true" type="tns:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FriendshipRequest" nillable="true" type="tns:FriendshipRequest" />
</xs:schema>