Connected Services/CodeNamesService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataModels" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Logic" />
  <xs:element name="AddUserAccountToDatabase">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserAccountToDatabaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nickname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataModels" minOccurs="0" name="LoginResult" nillable="true" type="q1:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCurrentUsersResult" nillable="true" type="q2:ArrayOfKeyValueOfintanyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePlayerSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePlayerSessionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePlayerSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePlayerSessionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlayerSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlayerSessionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeToUserEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeFromUserEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLoggedIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserLoggedOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdPlayer" type="xs:int" />
        <xs:element minOccurs="0" name="namePlayer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeFriendRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MakeFriendRequestResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdRequest" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptFriendRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AcceptFriendRequestResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdRequest" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectFriendRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RejectFriendRequestResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriends">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Logic" minOccurs="0" name="GetFriendsResult" nillable="true" type="q3:ArrayOfPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendshipRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendshipRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataModels" minOccurs="0" name="GetFriendshipRequestsResult" nillable="true" type="q4:ArrayOfFriendshipRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyFriendRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyFriendOnline">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyFriendOnlineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPlayer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFriendRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFriendDisplay">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFriendDisplayResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hostUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateRoomResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateRoomCode">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateRoomCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateRoomCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckQuota">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckQuotaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckQuotaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecoverRoomPlayers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecoverRoomPlayersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Logic" minOccurs="0" name="RecoverRoomPlayersResult" nillable="true" type="q5:ArrayOfPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Disconnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roomId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageCallBack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>