Connected Services/CodeNamesService/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Logic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Logic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Player" nillable="true" type="tns:Player" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayer" nillable="true" type="tns:ArrayOfPlayer" />
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsOnline" type="xs:boolean" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlayerId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
</xs:schema>